#root {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(243, 241, 241);
}

.navbar-item.custom-hover:hover {
  background-color: rgb(55, 55, 220);
}
html, body, #root {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-area {
  flex: 1;
  overflow: auto;
}

.footer-height {

  height: auto;
  padding: 1rem 0;
}

.height{
  height: 650px;
}