#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* typer component */

.message-box{
  /* background-color: purple; */
  /* background-color: lightblue; */

  /* color: white; */
  /* padding: 30px; */
}


.user-input-error{
  width: 70%;
  height: 60px;
  margin: 20px;
  background-color: rgb(186, 108, 108);

}

.user-input-correct{
  width: 70%;
  height: 60px;
  margin: 20px;
  background-color: rgb(99, 204, 131);

}

.user-input{
  width: 70%;
  height: 60px;
  margin: 20px;

}
/* .random-paragraph{
  color: red;
} */

.error-char{
  color: red;
}
.correct-char{
  color: green;
}


/* Navbar */

/* .navbarComponent{
  display: flex;
  justify-content: space-around;
  background-color: purple;
  height: 100px;
  margin: 0 auto; width: 960px;
  color: white;
  /* position: sticky;
  top: 0; */
} */



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
  color: #fff;
  padding: 1rem;
}

.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-center .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-center .nav-links li {
  margin-right: 1rem;
}

.navbar-center .nav-links a {
  color: #fff;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
}


.navbar-right {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  position: relative;
}

/* Dashboard */
.dashboard-container button{
  color: white;
  background-color: ;
  margin: 20px;
  padding: 20px;

}

.dashboard-container{
  background-color: rgb(240, 240, 240);
}

